<h1>Welcome to Sticky Bookmarks</h1>

<div id="the-basics">
  <input class="typeahead" type="text" placeholder="Search for Books">
</div>

<%= link_to "Add new book", new_book_path %>
<br>


<% @books.each do |book| %>
	<%= link_to book.name, book_path(book) %> |
	<%= book.author %> |
	<%= book.genre %>
<% end %>