<h1>Welcome to Sticky Bookmarks</h1>

<%= link_to "Add new book", new_book_path %>
<br>

<% @books.each do |book| %>
	<%= link_to book.name, book_path(book) %> |
	<%= book.author %> |
	<%= book.genre %>
<% end %>