
<div id="the-basics">
	<%= form_tag book_search_path, class: "typeahead", method: "GET" do %>
		<input type = "text" name = "search"/>
		<input type = "submit" name = "GO" value = "Search for Books" />
	<% end %>
</div>

<br>

<% @books.each do |book| %>
	<%= link_to book.name, book_path(book) %> |
	<%= book.author %> |
	<%= book.genre %>
<% end %>