.active {
  font-weight: bold; }

.cropped_image{
	width:171px;
	height:250px;
	overflow:hidden;
}

 .cropped_image img{
	width: 171px;
	height: auto;
	padding: 5px 5px 0 0;
 }

 .left {
 	float: left;
 }

 .right {
 	float: right;
 }

 /**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

#search-bar{
	text-align: center;
}

.caption{
}

.panel-heading show-text{
	float:left;
}

.show-image{
	float:left;
	margin:20px 10px 10px 10px;
	max-height:200px;
	width:auto;
}

.scene-block{
	padding-left:650px;
}

body{
	background-color:white;
}

.thumbnail{
	background-color:#EBEBEB;
}


