<div id="user-new-fields">
	<div class="modal-header">
		<h4>Login</h4>
	</div>
	<%= render 'form' %>
	<div class="modal-footer">
	<h4>Forgot Password?</h4>
		<%= render 'forgot_password_form' %>
	</div>
</div>